*{
    font-family: 'montserrat', sans-serif;
}
body {
    background-color: #fcf9f9;
    line-height: 1.7;
    margin: 0;
}
.bg-primary{
    background-color: rgb(8, 8, 8)!important;
}
#text-primary{
    color: #3498db;
}
.progress {
    background-color: rgba(red, green, blue, alpha);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}
.progress-bar {
    background-color: #29d0cd!important;
    height: 100%!important;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}